.login-page,
.register-page {
  background: #f5f5f5;
  min-height: inherit;
  padding-bottom: 0;
}

.login-page .form-outer,
.register-page .form-outer {
  min-height: 100vh;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px 0;
  position: relative;
}

.login-page .copyrights,
.register-page .copyrights {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
}

.login-page .copyrights p,
.register-page .copyrights p {
  font-size: 0.6em;
  font-weight: 300;
  margin-bottom: 10px;
}

.login-page .form-inner,
.register-page .form-inner {
  padding: 40px 30px;
  background: #fff;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.login-page .logo,
.register-page .logo {
  font-size: 2em;
  font-weight: 500;
}

.login-page .logo span,
.register-page .logo span {
  color: #ccc;
}

.login-page p,
.register-page p {
  font-size: 0.8em;
  font-weight: 300;
  color: #aaa;
  margin-bottom: 0;
}

.login-page form,
.register-page form {
  margin: 0 auto 10px;
  max-width: 300px;
}

.login-page form .form-group,
.register-page form .form-group {
  position: relative;
}

.login-page form input,
.register-page form input {
  outline: none;
  border-radius: 0;
  width: 100%;
  margin-right: 10px;
  padding: 6px 10px;
  color: #333;
  font-weight: 300;
  border: none;
  border-bottom: 1px solid #ddd;
  text-align: center;
  margin-top: 20px;
  font-size: 0.9em;
}

.login-page form input[type='text'], .login-page form input[type='password'], .login-page form input[type='email'],
.register-page form input[type='text'],
.register-page form input[type='password'],
.register-page form input[type='email'] {
  background: none;
}

.login-page form input[type='submit'],
.register-page form input[type='submit'] {
  width: 200px;
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: 300;
  cursor: pointer;
  font-size: 0.8em;
  margin-bottom: 0;
  color: #fff;
}

.login-page form label.error,
.register-page form label.error {
  font-size: 0.7em;
  color: #d9534f;
  margin-bottom: 0;
}

.login-page form label.label-custom,
.register-page form label.label-custom {
  font-size: 0.8em;
  font-weight: 300;
  color: #aaa;
  position: absolute;
  top: 30px;
  right: 0;
  width: 100%;
  cursor: text;
  transition: all 0.4s;
}

.login-page form label.label-custom.active,
.register-page form label.label-custom.active {
  top: 5px;
  color: #33b35a;
}

.login-page a.forgot-pass,
.login-page a.signup,
.register-page a.forgot-pass,
.register-page a.signup {
  font-size: 0.65em;
  color: #43a7fd;
}

.login-page a.forgot-pass:hover, .login-page a.forgot-pass:focus,
.login-page a.signup:hover,
.login-page a.signup:focus,
.register-page a.forgot-pass:hover,
.register-page a.forgot-pass:focus,
.register-page a.signup:hover,
.register-page a.signup:focus {
  color: #43a7fd;
  text-decoration: none;
}

.login-page a.forgot-pass,
.register-page a.forgot-pass {
  display: block;
}

.login-page a.create-account,
.register-page a.create-account {
  border-radius: 50px;
  font-size: 0.75em;
  margin-top: 10px;
  color: #999;
  text-transform: uppercase;
}

.login-page .terms-conditions,
.register-page .terms-conditions {
  margin-top: 20px;
}

.login-page small,
.register-page small {
  font-size: 0.65em;
  color: #aaa;
  line-height: 0.9em;
}

/* LOGIN MEDIAQUERIES -------------------------- */
@media (min-width: 992px) {
  .login-page p,
  .register-page p {
    font-size: 0.9em;
  }
  .login-page form label.label-custom,
  .register-page form label.label-custom {
    font-size: 0.9em;
  }
  .login-page form small,
  .register-page form small {
    font-size: 0.8em;
  }
  .login-page .terms-conditions label,
  .register-page .terms-conditions label {
    font-size: 0.9em;
  }
  .login-page a.forgot-pass,
  .login-page a.signup,
  .register-page a.forgot-pass,
  .register-page a.signup {
    font-size: 0.8em;
  }
  .login-page small,
  .register-page small {
    font-size: 0.8em;
  }
  .login-page .copyrights p,
  .register-page .copyrights p {
    font-size: 0.85em;
    font-weight: 400;
  }
}
a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  transition: all 0.3s;
}

ul {
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
}

i {
  display: inline-block;
}

span {
  display: inline-block;
}

span {
  font-size: 0.9em;
}

p {
  color: #888;
}

i[class*='icon-'] {
  transform: translateY(4px);
}

table {
  font-size: 0.9em;
  color: #666;
}

.btn-xs {
  font-size: 0.7em !important;
  padding: 2px 5px !important;
  border-radius: 2px !important;
}

.badge {
  font-weight: 400;
  border-radius: 0;
}

.badge.badge-primary {
  background: #33b35a;
}

.page {
  position: absolute;
  top: 0;
  right: 0;
  transition: width 0.3s linear;
  width: calc(100% - 200px);
  background-color: #F4F7FA;
  min-height: 100vh;
  padding-bottom: 50px;
}

.page.active {
  width: calc(100% - 70px);
}

.login-page,
.register-page {
  width: 100%;
}

h2 {
  color: #555;
  font-weight: 400;
}

.gmpc {
  padding: 0 !important;
  width: 100% !important;
  height: auto !important;
  box-shadow: none !important;
  color: #33b35a !important;
  border-right: 1px solid #eee;
}

@media (max-width: 576px) {
  .gmpc {
    border-right: none;
    border-bottom: 1px solid #eee;
  }
}

.breadcrumb-holder {
  background: #eceeef;
}

.breadcrumb-holder .breadcrumb {
  padding: 15px 0;
  font-size: 0.85em;
  font-weight: 300;
  color: #999;
  margin-bottom: 0;
}

.breadcrumb-holder .breadcrumb a:hover, .breadcrumb-holder .breadcrumb:focus {
  text-decoration: none;
}

.breadcrumb-holder .breadcrumb .container {
  padding: 0;
}

.card {
  height: 100%;
  border: none;
  background: #fff;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 0;
}

.card-header {
  height: 50px;
  background-color: #fff;
  border-bottom-color: #f3f3f3;
  border-top: none;
}

.card-header h2,
.card-header h3 {
  margin-bottom: 0;
}

.display {
  font-weight: 400 !important;
}

input.form-control-custom {
  display: none;
}

input.form-control-custom:checked + label::before {
  background: #59b357 !important;
}

input.form-control-custom:checked + label::after {
  opacity: 1 !important;
}

input.form-control-custom.radio-custom + label::before {
  border-radius: 50%;
}

input.form-control-custom.radio-custom + label::after {
  content: '';
  width: 6px;
  height: 6px;
  line-height: 6px;
  background: #fff;
  border-radius: 50%;
  top: 7px;
  left: 5px;
}

input.form-control-custom[disabled] + label {
  cursor: not-allowed;
}

input.form-control-custom[disabled] + label::before, input.form-control-custom[disabled] + label::after {
  border: 2px solid #aaa;
  cursor: not-allowed;
}

input.form-control-custom[checked] + label::before, input.form-control-custom[checked] + label::after {
  border: none;
}

input.form-control-custom + label {
  font-size: 0.75em;
  margin-bottom: 0;
  margin-left: 0;
  color: #999;
  padding-left: 25px;
  padding-top: 2px;
  position: relative;
}

input.form-control-custom + label span {
  margin-left: 20px;
}

input.form-control-custom + label::before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  background: #ddd;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 2px;
  left: 0;
  transition: all 0.1s;
  cursor: pointer;
}

input.form-control-custom + label::after {
  content: '\f00c';
  display: block;
  font-family: 'FontAwesome';
  font-size: 8px;
  color: #fff;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: all 0.1s;
  opacity: 0;
  cursor: pointer;
}

button {
  cursor: pointer;
}

.section-padding {
  padding: 50px 0;
}

.section-no-padding-bottom {
  padding-bottom: 0;
}

@media (min-width: 992px) {
  .container-fluid {
    padding: 0 50px;
  }
}

table {
  font-size: 0.9em;
  color: #666;
}
