body {
  font-family:  "Roboto", XeroSans;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: #292b2c;
  background-color: #fff;
  overflow-x: hidden;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  transition: all 0.3s;
  cursor: pointer;
}

a:focus, a:hover {
  color: #3F1645;
  text-decoration: underline;
}

ul {
  padding: 0;
  margin: 0;
}

i {
  display: inline-block;
}

span {
  display: inline-block;
  font-size: 0.9em;
}

p {
  color: #888;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-family: "Roboto", XeroSans;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

h1, .h1 {
  font-size: 1.5rem;
  color: #3F1645;
}

h2, .h2 {
  font-size: 1.3rem;
  color: #601965;
}

h3, .h3 {
  font-size: 1.2rem;
}

h4, .h4 {
  font-size: 1.1rem;
}

h5, .h5 {
  font-size: 0.9rem;
}

h6, .h6 {
  font-size: 0.8rem;
}

.text-primary {
  color: #601965 !important;
}

a.text-primary:focus, a.text-primary:hover {
  color: #631c84 !important;
}

/*
 * 2. BUTTONS
 */
button {
  cursor: pointer;
}
.btn {
  font-weight: normal;
  line-height: 1.25;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: all 0.2s ease-in-out;
  margin: 5px;
  width: 111px;
}

.btn:focus, .btn.focus {
  outline: 0;
  box-shadow: 0 0 0 2px rgba(91, 22, 154, 0.25);
}

.btn:active, .btn.active {
  background-image: none;
}

a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none;
}

.btn-primary {
  color: #fff;
  background-color: #601965;
  border-color: #601965;
}

.btn-primary:hover {
  color: #fff;
  background-color: #481a6e;
  border-color: #481a6e;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 2px rgba(106, 27, 154, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
  background-color: #6a1b9a;
  border-color: #6a1b9a;
}

.btn-primary:active, .btn-primary.active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #6a1b9a;
  background-image: none;
  border-color: #6a1b9a;
}

.btn-secondary {
  color: #fff;
  background-color: #601965;
  border-color: #601965;
}

.btn-secondary:hover {
  color: #fff;
  background-color: #481a6e;
  border-color: #481a6e;
}

.btn-secondary:focus, .btn-secondary.focus {
  box-shadow: 0 0 0 2px rgba(106, 27, 154, 0.5);
}

.btn-secondary.disabled, .btn-secondary:disabled {
  background-color: #fff;
  border-color: #ccc;
}

.btn-secondary:active, .btn-secondary.active,
.show > .btn-secondary.dropdown-toggle {
  color: #292b2c;
  background-color: #e6e6e6;
  background-image: none;
  border-color: #adadad;
}

/*************************************************/
.login-page , .index-page{
  width: 100%;
  background: #f5f5f5;
  padding-bottom: 0;
}

.login-page .form-outer{
  min-height: 100vh;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px 0;
  position: relative;
}

.index-page .form-outer{
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
  position: relative;
}

.login-page .form-inner, .index-page .form-inner {
  padding: 40px 30px;
  background: #fff;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.login-page .logo, .index-page .logo {
  font-size: 2em;
  font-weight: 500;
}

.login-page .logo span {
  color: #ccc;
}

.index-page .logo span {
  color: #3F1645;
}

.login-page p,.index-page p {
  font-size: 0.8em;
  font-weight: 300;
  color: #aaa;
  margin-bottom: 0;
}

.login-page form, .index-page form {
  margin: 0 auto 10px;
  max-width: 300px;
}

.login-page form .form-group,
.index-page form .form-group{
  position: relative;
  display: flex;
}

.login-page form input {
  outline: none;
  border-radius: 0;
  width: 100%;
  margin-right: 10px;
  padding: 6px 10px;
  color: #333;
  font-weight: 300;
  border: none;
  border-bottom: 1px solid #ddd;
  text-align: center;
  margin-top: 20px;
  font-size: 0.9em;
}
.index-page .form-group input {
  outline: none;
  border-radius: 0;
  margin-right: 10px;
  padding: 6px 10px;
  color: #333;
  font-weight: 300;
  border: none;
  border-bottom: 1px solid #ddd;
  text-align: center;
  margin-top: 20px;
  font-size: 0.9em;
}

.login-page form input[type='text'], .login-page form input[type='password'], .login-page form input[type='email'],
.index-page form input[type='text'], .index-page form input[type='password'], .index-page form input[type='email']{
  background: none;
}

.login-page form input[type='submit'],
.index-page form input[type='submit']{
  width: 200px;
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: 300;
  cursor: pointer;
  font-size: 0.8em;
  margin-bottom: 0;
  color: #fff;
}

.login-page form label.error,
.index-page form label.error{
  font-size: 0.7em;
  color: #d9534f;
  margin-bottom: 0;
}

.login-page form label.label-custom,
.index-page form label.label-custom{
  font-size: 0.8em;
  font-weight: normal;
  color: #aaa;
  position: absolute;
  top: 30px;
  right: 10px;
  width: 100%;
  cursor: text;
  transition: all 0.4s;
  color: #666;
}
.index-page form label.label-custom-passed{
  font-size: 0.8em;
  font-weight: normal;
  color: #aaa;
  position: absolute;
  top: 30px;
  right: 135px;
  width: 100%;
  cursor: text;
  transition: all 0.4s;
  color: #666;
}

.login-page form label.label-custom.active,
.index-page form label.label-custom.active{
  top: 5px;
  color: #601965;
}
/* LOGIN MEDIAQUERIES -------------------------- */
@media (min-width: 992px) {
  .login-page p {
    font-size: 0.9em;
  }
  .login-page form label.label-custom {
    font-size: 0.9em;
  }

  .index-page p {
    font-size: 0.9em;
  }
  .index-page form label.label-custom {
    font-size: 0.9em;
  }
}

/********my style*******************/
.header{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}
h2 a{ color: #601965;} /*...logout...*/
